// app global css in SCSS form
.title{
    font-family: $title-font;
    color: $accent;
}
h3,h4,h5{
    color: $accent ;
    font-family: $header-font;
}
.special-text{
  font-family: $header-font;
  font-size: 1.2em;
  text-align: center;
}

.vue-typer {
    font-family: $header-font;
  }
  .vue-typer .custom.char.typed {
    color: $accent !important;
  }
  .vue-typer .custom.char.selected {
    color: $secondary;
  }
  .vue-typer .custom.caret.typing {
    background-color: $accent;
  }
.customContainer{
  padding-top: 45px;
  padding-bottom: 40px;
}
.customContainer1{
  padding-top: 0;
}

